<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../components/_Links.ejs')%>
    <link rel="stylesheet" href="../../Css/Profile/Base.css">
    <title><%=user.FirstName%> <%=user.LastName%></title>
</head>
<body>
        <%- include('../elements/navBar/navBar.ejs')%>
        <div class="dashboard card">
            <%- include('./partials/_products.ejs')%>
            <%- include('./partials/_movements.ejs')%>
        </div>
</body>
<%- include('../components/_Scripts.ejs')%>
<script src="../../../Views/elements/navBar/navBar.js"></script>
<script src="../../Scripts/Profile/Profile.js"></script>
<script src="../../Scripts/Profile/partials/_products.js"></script>
<script src="../../Scripts/Profile/partials/_movements.js"></script>
</html>